.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.u-section-1 .u-tabs-1 {
  min-height: 502px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-8 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-9 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-1 .u-image-1 {
  width: 432px;
  height: 324px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 622px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-5 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-7 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-1 .u-image-2 {
  width: 402px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-2 {
  width: 657px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-9 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-11 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-13 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-15 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-37 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-1 .u-image-3 {
  width: 324px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-3 {
  width: 749px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-17 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-19 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-46 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-49 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-21 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-50 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-51 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-52 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-53 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-54 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-55 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-23 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-56 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-57 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-58 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-59 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-60 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-61 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-62 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 28px 30px;
}

.u-section-1 .u-image-4 {
  width: 324px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-4 {
  width: 721px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-25 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-63 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-64 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-65 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-66 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-67 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-27 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-68 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-69 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-70 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-71 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-29 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-72 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-73 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-74 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-75 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-76 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-31 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-77 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-78 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-79 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 28px 30px;
}

.u-section-1 .u-image-5 {
  width: 298px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-5 {
  width: 711px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-33 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-80 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-81 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-82 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-83 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-35 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-84 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-85 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-86 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-87 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-37 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-88 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-89 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-90 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-39 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-91 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-92 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-93 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 28px 30px;
}

.u-section-1 .u-image-6 {
  width: 313px;
  height: 324px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-6 {
  width: 724px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-41 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-94 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-95 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-96 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-97 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-98 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-43 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-99 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-100 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-101 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-102 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-45 {
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-47 {
  text-transform: uppercase;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 28px 30px;
}

.u-section-1 .u-image-7 {
  width: 296px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-7 {
  width: 738px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-49 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-103 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-104 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-105 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-106 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-51 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-107 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-108 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-109 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-110 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-111 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-112 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-113 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-53 {
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-55 {
  text-transform: uppercase;
}

.u-section-1 .u-tab-pane-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 28px 30px;
}

.u-section-1 .u-image-8 {
  width: 411px;
  height: 324px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-text-8 {
  margin: -280px auto 0 0;
}

.u-section-1 .u-table-8 {
  width: 631px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-cell-57 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-114 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-115 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-116 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-117 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-59 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-118 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-119 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-120 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-121 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-61 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-122 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-123 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-124 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-125 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-63 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-126 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-127 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 25px 30px;
}

.u-section-1 .u-text-9 {
  margin: 48px 0 0;
}

.u-section-1 .u-image-9 {
  width: 384px;
  height: 267px;
  margin: -37px 6px 0 auto;
}

.u-section-1 .u-table-9 {
  width: 657px;
  margin: -210px auto 0 0;
}

.u-section-1 .u-table-cell-65 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-128 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-129 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-130 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-131 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-132 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-67 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-133 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-134 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-69 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-135 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-136 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-137 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-138 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-71 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-139 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-140 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-1 {
    width: 576px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-2 {
    width: 576px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-3 {
    width: 576px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-4 {
    width: 576px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-5 {
    width: 576px;
  }

  .u-section-1 .u-image-6 {
    height: 325px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -281px;
    margin-right: 314px;
  }

  .u-section-1 .u-table-6 {
    width: 576px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-7 {
    width: 576px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-table-8 {
    width: 576px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 314px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-table-9 {
    width: 576px;
    margin-top: -231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-1 {
    width: 457px;
  }

  .u-section-1 .u-image-2 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-2 {
    width: 457px;
  }

  .u-section-1 .u-image-3 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-3 {
    width: 457px;
  }

  .u-section-1 .u-image-4 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-4 {
    width: 457px;
  }

  .u-section-1 .u-image-5 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-5 {
    width: 457px;
  }

  .u-section-1 .u-image-6 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-6 {
    width: 457px;
  }

  .u-section-1 .u-image-7 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-7 {
    width: 457px;
  }

  .u-section-1 .u-image-8 {
    width: 203px;
    height: 244px;
    margin-top: 94px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -294px;
    margin-right: 94px;
  }

  .u-section-1 .u-table-8 {
    width: 457px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 44px;
    margin-right: 94px;
  }

  .u-section-1 .u-image-9 {
    width: 203px;
    height: 244px;
    margin-top: 24px;
  }

  .u-section-1 .u-table-9 {
    width: 457px;
    margin-top: -212px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-3 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-4 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-5 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-6 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-7 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-1 .u-table-8 {
    width: 317px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 43px;
  }

  .u-section-1 .u-table-9 {
    width: 317px;
    margin-top: -231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 963px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-2 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-4 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-5 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-6 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-7 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-8 {
    width: 270px;
    height: 310px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -660px;
  }

  .u-section-1 .u-image-9 {
    width: 270px;
    height: 310px;
    margin-top: 324px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-table-9 {
    margin-top: -578px;
  }
}